#controllers-container{
    display: flex;
    width: 80%;
    height: 28vh;
    justify-content: space-around;
    align-items: center;
}

#info-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#bar-container{
    width: 100%;
    display: flex;
    flex-flow: row-reverse wrap;
}

#name-container{
    font-size: 25px;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
}

#controllers{
    width: 60%;
    display: flex;
    justify-content: center;
}